ul.info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

.info-container li {
  max-width: 200px;
  min-width: 200px;
  max-height: 200px;
  max-height: 200px;
}

.info {
  margin: 10px;
  padding: 10px;

}