div.skills {
  flex: 1;
  flex-direction: row;
  display: flex;
  overflow: auto;
  flex-wrap: wrap;
}

div.skills div.skill {
  display: flex;
  max-width: 200px;
  max-height: 200px;
  min-width: 200px;
  min-height: 200px;
  flex: 1;
  margin: 10px;
  position: relative;
  perspective: 1000px;
}
/**
CARD - Section
**/
.card{
  flex: 1;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}
.face {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: 2px solid #ddd;
  border-radius: 10px;
  transition: transform .3s cubic-bezier(0.4, 0.2, 0.2, 1);
  position: absolute;
  transform-style: preserve-3d;
}
.face.front{
  text-align: center;
  background: #fff;
  transform: rotateY(0deg);
}
.face.back {
  flex-direction: column;
  justify-content: center;
  align-content: center;
  transform: rotateY(180deg);
  padding: 10px;
  color: black;
  text-align: center;
  background-color: #ddd;
}
.card:hover .front{
  transform: rotateY(-180deg);
}

.card:hover .back {
  transform: rotateY(0deg);
}
/**
  CARD - Ending
**/

/* 3D effect */
.inner {
  transform: translateZ(60px);
}


/* end */
div.skills div.skill h3 {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 10px;
}

div.skills div.skill p {
  margin: 0;
}

div.skills div.skill ul {
  margin: 0;
  padding: 5px;
  list-style: none;
  flex: 1;
  flex-direction: row;
}

div.skills div.skill ul li {
  margin: 0;
}

div.skills div.skill ul li a {
  text-decoration: none;
}